<!doctype html>
<html ng-app="app">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="js/ui-grid.js"></script>
    <script src="js/ui-grid-app.js"></script>
    <link href="css/ui-grid-app.css" rel="stylesheet" />
    <link href="css/ui-grid.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="MainCtrl">
        <input ng-model='filterValue1' /><button ng-click='filter()'>Filter 1</button>
        <input ng-model='filterValue2' /><button ng-click='filter()'>Filter 2</button>
        <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
        <input type="checkbox" value="1" ng-model="autoUpdater"/>auto-update is {{autoUpdater}}
    </div>
</body>
</html>